body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.envelope img {
  width: 300px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.invitation-card {
  position: center;
  top: 20px;
  left: 50%;
  background: white;
  border: 2px solid #ccc;
  padding: 20px;
  width: 300px;
  text-align: center;
  justify-content: center;
  margin:auto;
}
